.parent__projects {
    text-align: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}














@media screen and (max-width: 536px) {
    
    .parent__projects {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}