.skills__container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    align-items: center;
    position: relative;
}

.skills__title {
    text-align: center;
}

.skills__logos {
    margin-top: 30px;
}

.skills__img {
    height: 7rem;
    margin-top: 25px;
}

.parent__skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }

.skillset1 {
    grid-area:  1 / 2 / 2 / 4;
}

.skillset2 {
    grid-area: 1 / 4 / 2 / 6;
}

.skills__card {
    margin: 8px; /* Adjust margin as needed */
    transition: transform 0.3s; /* Add a smooth transition effect */
}
      
.skills__card:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.skill1,
.skill2,
.skill3,
.skill4 {
    visibility: hidden;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 1rem;
}

body:has(.card1:hover) .skill1,
body:has(.card2:hover) .skill2,
body:has(.card3:hover) .skill3,
body:has(.card4:hover) .skill4 {
    visibility: visible;
}

@media screen and (max-width: 992px) {

    .skills__container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .skills__img {
        height: 5rem;
    }
}

@media screen and (max-width: 768px) {

    .skills__container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .skills__img {
        height: 4rem;
    }

}

@media screen and (max-width: 536px) {

    .skills__container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 3.5rem;
        text-align: center;
    }

    .skillset1 {
        grid-area: 1 / 2 / 2 / 6;
    }

    .skillset2 {
        grid-area: 2 / 2 / 3 / 6;
    }
}