.skills__logos {
    margin-top: 30px;
}

.skills__img {
    height: 7rem;
    margin-top: 25px;
}

.parent__skills {
    display: flex;
    text-align: center;
    }


.skills__card {
    margin: 8px; /* Adjust margin as needed */
    transition: transform 0.3s; /* Add a smooth transition effect */
}
      
.skills__card:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.skill1,
.skill2,
.skill3,
.skill4 {
    visibility: hidden;
    display: flex;
    position: absolute;
}

body:has(.card1:hover) .skill1,
body:has(.card2:hover) .skill2,
body:has(.card3:hover) .skill3,
body:has(.card4:hover) .skill4 {
    visibility: visible;
}

@media screen and (max-width: 992px) {

    .skills__img {
        height: 5rem;
    }
}

@media screen and (max-width: 768px) {

    .skills__img {
        height: 4rem;
    }

}

@media screen and (max-width: 536px) {

}