.about__section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.about__title,
.about__subtitle {
    text-align: center;
}

.about__img {
    background: url(../../assets/popart-desk.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: left;
    width: 18rem;
    height: 18rem;
    border-radius: 3rem;
}

.about__me-img {
    display: flex;
    justify-content: center;
}



.skills__img {
    height: 5rem;
    margin-top: 10px;
}

.skills__container {
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 2rem;
}

.skills__card {
    transition: transform 0.3s; /* Add a smooth transition effect */
    text-align: center;
}
      
.skills__card:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.skill1,
.skill2,
.skill3,
.skill4 {
    display: none;
}

body:has(.card1:hover) .skill1,
body:has(.card2:hover) .skill2,
body:has(.card3:hover) .skill3,
body:has(.card4:hover) .skill4 {
    display: inline;
}

@media screen and (max-width: 1200px) {
    .skills__img {
        height: 5rem;
    }

    .skills__container {
        margin-left: 6rem;
        margin-right: 6rem;
    }
    
}

@media screen and (max-width: 992px) {

    .skills__container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .skills__img {
        height: 4rem;
    }

}

@media screen and (max-width: 768px) {

    .skills__container {
        margin-left: auto;
        margin-right: auto;
    }

    .about__text {
        margin-top: 2rem;
        text-align: center;        
    }

    .skills__img {
    }

    .about__img {
        height: 12rem;
        width: 12rem;
    }

}

@media screen and (max-width: 536px) {
    .skills__title {
        font-size: 1.25rem;
    }

    .about__section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}