.home__container {
    padding-top: 15rem;
    padding-bottom: 15rem;
    align-items: center;
    margin: auto; 
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div2 { grid-area: 1 / 2 / 2 / 4; }
    .home__img { grid-area: 1 / 4 / 2 / 6; }

.home__description {
    margin-top: 30px;
    margin-bottom: 30px;
}

.home__social {
    display: flex;
    gap: 25px;
}

.home__social-icon {
    font-size: 1.5rem;
    color: var(--title-color);
}

.home__img {
    background: url(../../assets/popart-logo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite;
    border: none;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media screen and (max-width: 992px) {

    .home__container {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .parent {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__subtitle {
        padding-left: 3.75rem;
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
    }

    .home__img {
        width: 250px;
        height: 250px;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .parent {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 3.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home__img {
        order: -1;
        width: 200px;
        height: 200px;
        grid-area: 1 / 2 / 2 / 6;
        margin-top: 4rem;
        margin-left: 0;
    }

    .div2 {
        order: 0;
        grid-area: 2 / 2 / 3 / 6;
        margin-top: 4rem;
    }
    
    .home__data {
        grid-column: 1/3;
    }

    .home__social {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
}