.home__container {
    padding-top: 18rem;
    padding-bottom: 18rem;
    align-items: center;
    margin: auto; 
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div2 { grid-area: 1 / 2 / 2 / 4; }
    .home__img { grid-area: 1 / 4 / 2 / 6; }

.home__description {
    margin-top: 30px;
    margin-bottom: 30px;
}

.home__social {
    display: flex;
    gap: 25px;
}

.home__social-icon {
    font-size: 1.5rem;
    color: var(--title-color);
}

.home__img {
    background: url(../../assets/popart-logo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
    border: none;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}