

.contact__form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    z-index: 10;
}

.contact__form-area {
    height: 11rem;
}

.contact__button-email {
    text-decoration: none;
    color: inherit;
}

.contact__section {
    padding-top: 9rem;
    padding-bottom: 5rem;
    align-items: center;
    margin: auto; 
}

.parent__contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 1rem;
}

.contact__header {
    grid-area: 1 / 2 / 2 / 4;
}

.contact__formsection,
.contact__form-input {
    grid-area: 1 / 4 / 2 / 6;
}

.contact_title,
.contact_subtitle {
    text-align: center;
}

.contact__subtitle {
    margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {

    .contact__section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .contact__content {
        font-size: smaller;
    }
    
}

@media screen and (max-width: 736px) {
     
    .parent {
        grid-template-columns: repeat(6, 1fr);
        padding-top: 3.5rem;
        justify-content: center;
        text-align: center;
        padding-top: 1rem;
    }

    .contact__header {
        grid-area: 1 / 3 / 2 / 5;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .contact__formsection {
        grid-area: 2 / 2 / 3 / 6;
        margin-top: 2rem;
    }

}